:host {
    display: flex;
    flex-grow: 1;
}
.content{
    margin-bottom: 4.5rem;
}
.top-content{
    width: 100vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.top-content-bgd{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 8.5rem;
    z-index: 1;
}
.main-content{
    width: 90vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5vw;
}
.title-content{
    width: 90vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color:white;
    font-size:20px;
    margin-top:20px;
    margin-left: 5vw;
}
.main-content-box{
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    margin: 0.2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px;
    z-index: 80;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 150px;
}
button{
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    padding: calc(1.4em - 1px) 3em;
    display: inline-flex;
    line-height: 1.5;
    vertical-align: top;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    border: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    width: 135px;
}
.btn {
    font-size: 14px;
}